</> liquid

<label for="custom_text">Custom Text:</label>
<input type="text" id="custom_text" name="properties[Custom Text]"/>

{% if product.available %}
  <button type="submit">Add to cart</button>
{% end %}
